body {
    background-image: url("https://fondosmil.com/fondo/34253.jpg");
}
.cuadro{

    text-align: center;
    border-color: black;
    border-style: dotted;
    background-color: black;
    margin: 5% 35%  10%;
    padding-bottom: 12%;
    border-radius: 30px;
}

h1{
    text-align: center;
    margin-top: 5%;
    color: white;
    padding-bottom: 5%;
}

.tarea{
    text-align: center;
    margin-top: 6%;
}

.lista{
    color: gold;
    list-style: none;
    margin-top: 2px;
}